@model  Gproject.Models.User
@{
    Layout = null;
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="~/Content/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<head>

    <title>Edit</title>
</head>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body" style="display:inline-block">
                <form>
                    @Html.HiddenFor(m => m.userName, new { @id = "hid" })
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "name" })
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control", @id = "username" })
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-th-list"></i></span>
                                </div>
                                @Html.DropDownListFor(m => m.roleNumber, ViewBag.Roles as SelectList, "Which Role ?", new { @class = "form-control selectpicker", @id = "role" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-th-list"></i></span>
                                </div>
                                @Html.DropDownListFor(m => m.levelNumber, ViewBag.levels as SelectList, new { @class = "form-control selectpicker", @id = "lev" })
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                                </div>
                                @Html.DropDownListFor(m => m.typeNumber, ViewBag.Types as SelectList, new { @class = "form-control selectpicker", @id = "type" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" id="pass">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password" id="pass1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                </div>
                                @Html.DropDownListFor(m => m.governateNumber, ViewBag.Governate as SelectList, new { @class = "form-control selectpicker", @id = "gover" })

                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn float-right login_btn" id="Save">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    All Courses<a href="../Index">All Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     $('#Add').click(function () {
        if ($("#pass").val() != $("#pass1").val()) {
            $("#err").show();
        }
        else
        {
            var data = {
                Name: $("#name").val(),
                levelNumber: $("#lev").val(),
                roleNumber: $("#role").val(),
                password: $("#pass").val(),
                typeNumber: $("#type").val(),
                governateNumber: $("#gover").val()
            };
            $.ajax({
                url: "../Users/EditUser",
                type: "POST",
                data: data,
                success: function (result) {
                   if (result != true)
                {
                   alert("This UserName is already exist");
                }
                else
                {
                     window.location.href = '@Url.Action("AllUsers","Users")';
                }
                },
                error: function (errormessage) {
                    alert("This UserName is already exist");
                }

            });
        }

    });
</script>